/* Intermediary latex files */
**.bbl
**.out
**.bcf
**.aux
**.blg
**.fdb_latexmk
**.fls
**.log
**.lof
**.lot
**.run.xml
**.synctex.gz
**.toc
**.acn
**.acr
**.alg
**.glg
**.glo
**.gls
**.ist
master_thesis.synctex(busy)

/* Vim swap files */
**.swp

